<div class="content">
  <div class="top-bar">
    <h1>Place Finder</h1>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <select name="query" formControlName="query">
        <option value="restaurant">Restaurant</option>
        <option value="museum">Museum</option>
        <option value="hotel">Hotel</option>
        <option value="coffee">Coffee</option>
        <option value="McDonalds">McDonalds</option>
      </select>
      <div class="form__radius">
        <p>Radius(KM)</p>
        <div class="radius-checkboxes">
          <div class="checkbox">

            <label *ngFor="let data of radiusData; let idx=index"
              [ngStyle]="{'pointer-events': data.isSelected ? 'none':'all'}">
              <input type="checkbox" [value]="data.value" (change)="isAllSelected($event, idx, radiusData, true)"
                [checked]="data.isSelected" />
              <span class="geek-mark"></span>
              {{data.name}}
            </label>
          </div>
        </div>
      </div>

      <div class="form__response-type">
        <p>Response Type</p>
        <div class="response-type-checkboxes">
          <div class="checkbox" *ngFor="let data of responseTypeData; let idx=index">
            <label [ngStyle]="{'pointer-events': data.isSelected ? 'none':'all'}">
              <input type="checkbox" [value]="data.value" (change)="isAllSelected($event, idx, responseTypeData, false)"
                [checked]="data.isSelected" />
              <span class="geek-mark"></span>
              {{data.name}}
            </label>
          </div>
        </div>
      </div>
      <button class="submit-btn" type="submit">
        <span class="front">
          Send
        </span>
      </button>
    </form>
  </div>
  <div class="map">
    <app-google-map *ngIf="showMap"></app-google-map>
  </div>
</div>
