<div class="start-content">
  <form [formGroup]='form' (ngSubmit)="startGame()">
    <label for="nickname">Enter your name</label>
    <input type="nickname" formControlName="nickname">
    <div class="checkboxes">
      <div class="checkboxes__checkbox" *ngFor="let item of checklist">
        <input type="checkbox" value="{{item.id}}" name="{{item.value}}" [checked]="item.isSelected"
          (change)="isAllSelected(item)" [ngStyle]="{'pointer-events': item.isSelected ? 'none':'all'}" />
        <label for="{{item.value}}">{{item.value}}</label>

      </div>
      <label for="cartNumbers">Cart</label>
      <select name="cartNumbers" formControlName="cartNumber">
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>
    <button type="submit" [disabled]="form.invalid">Start game</button>
  </form>
</div>
