.start-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(231, 232, 234, 1) 0%, rgba(152, 152, 152, 1) 100%);

  &__form {
    width: 500px;
    height: 300px;
    background-color: var(--black-color);
    color: var(--white-color);
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    box-shadow: 0px 1px 0px rgb(54, 54, 54), 0px 2px 0px #363636, 0px 3px 0px rgb(53, 53, 53), 0px 4px 0px #292929, 0px 5px 0px rgb(37, 37, 37), 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.37), -16px 32px 32px rgba(0, 0, 0, 0.25), -32px 64px 64px rgba(0, 0, 0, 0.25);

    &>label {
      font-size: 24px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 90px;
      position: relative;

      &>.ref-btn {
        background: url('/assets/img/ico/refresh.png') 0 0 / cover;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 53px;
        right: 5px;
      }

      &>input[type=text] {
        border-radius: 8px;
        padding: 0 35px ;
        width: 100%;
        height: 40px;
        transition: border .2s ease-in-out;
        font-size: 20px;
        font-weight: 600;
        text-align: center;

        &::placeholder {
          color: var(--gray-color);
        }

        &:focus {
          border: 1px solid var(--input-active-color);
        }
      }
    }

    .checkboxes {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      &__checkbox {
        &>label {
          display: block;
          position: relative;
          cursor: pointer;
          font-size: 20px;
          user-select: none;

          &>input[type=checkbox] {
            width: 20px;
            height: 20px;
            visibility: hidden;

            &:checked~.geek-mark {
              background-color: var(--orange-color);

              &:after {
                display: block;
              }
            }
          }

          &>.geek-mark {
            transform: translateY(3px);
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: white;

            &:after {
              content: "";
              position: absolute;
              left: 6px;
              bottom: 5px;
              width: 8px;
              height: 13px;
              border: solid white;
              border-width: 0 4px 4px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
              pointer-events: none;
            }
          }
        }
      }
    }

    .checkboxes__select {
      margin-left: 1rem;

      &>label {
        margin-bottom: 5px;

        select {
          border-radius: 8px;
          width: 55px;
          height: 35px;
          font-size: 24px;
          font-weight: 540;
        }
      }
    }
  }

  &>h1 {
    font-weight: 700;
    font-size: 70px;
    position: absolute;
    top: 50px;
    left: 50%;
    cursor: pointer;
    user-select: none;
    transform: translateX(-50%);
    text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #686868,
      1px 3px 1px #6b6b6b,
      1px 4px 1px #646464,
      1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2),
      1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.4);
    color: var(--dark-color);

    & :nth-child(-n+4) {
      color: var(--orange-color);
    }


    &>span {
      transition: all .4s ease;
      display: inline-block;

      &:hover {
        transform: scale(1.2);

      }
    }
  }

  .all-results {
    width: 400px;
    height: 400px;
    background-color: var(--black-color);
    color: var(--white-color);
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 30px;
    padding: 1rem;
    box-shadow: 0px 1px 0px rgb(54, 54, 54), 0px 2px 0px #363636, 0px 3px 0px rgb(53, 53, 53), 0px 4px 0px #292929, 0px 5px 0px rgb(37, 37, 37), 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.37), -16px 32px 32px rgba(0, 0, 0, 0.25), -32px 64px 64px rgba(0, 0, 0, 0.25);
    transform: translateY(-110%);

    &>p {
      text-align: center;
      color: var(--orange-color);
      font-size: 24px;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    .records-buttons {
      &>p {
        display: inline;
      }

      &>.rec-but {
        width: 80px;
        height: 25px;
        border-radius: 20px 20px 0 0;
        color: var(--black-color);
        font-weight: 700;
        font-size: 20px;
        background-color: var(--dark-gray-color);
        margin: 0 5px;

        &:hover {
          background-color: #adadad;
        }
      }

      .active {
        background-color: var(--orange-color);

        &:hover {
          background-color: var(--orange-hover-color);
        }
      }
    }

    &>table {
      th {
        text-align: start;
        color: var(--dark-gray-color);
      }

      td {
        text-align: start;
      }

      .place,
      .step {
        width: 60px;
      }

      .nick {
        width: 140px;
      }

      .time {
        width: 90px;
      }
    }
  }
}

.cup-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url('/assets/img/ico/cup.png') 0 0 / cover;
  z-index: 2;

  .badge {
    animation: pulse 2s infinite;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffa800;
    z-index: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.4;
    transform: scale(0.6);
  }

  100% {
    opacity: 0;
    transform: scale(2);

  }
}
