agm-map {
  height: 100%;
  width: 100%;
  z-index: 50;
}


.labels {
  color: white;
  background-color: red;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  text-align: center;
  width: 100px;
  white-space: nowrap;
}
